<div class="content_post_question">
  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <li>
        <%= link_to '詳細', question_path(question.id), method: :get %>
      </li>
      <% if user_signed_in? && current_user.id == question.user_id %>
        <li>
          <%= link_to '編集', edit_question_path(question.id), method: :get %>
        </li>
        <li>
        <%= link_to '削除', question_path(question.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='q_category'><%=link_to question.category.name, questions_path %></div>
  <div class='q_title'><%= link_to question.title, question_path(question.id), method: :get %></div>
  <p class="q_time"><%= l question.created_at %></p>
</div>



