<div class='wrapper'>
  <div class='up1'>
      <%= form_with(url: search_questions_path, local: true, method: :get, class: "search-form", id: "qf") do |form| %>
        <%= form.text_field :keyword, placeholder: "質問を探す", class: "search-input", id: "qt" %>
        <%= form.submit "Go", class: "search-btn", id: "qs" %>
      <% end %>
    <%= render 'shared/up1'%>
  </div>
  <div class='down1'>
    <%= render 'shared/side_main' %>
    <div class='nav_main'>
      <div class='up2'>
        <%= link_to questions_path do %>
          <p>質問一覧<p>
        <% end %>
      </div>
      <div class='down2'>
        <%= render "articles/header"%>
      </div>
    </div>
    <div class='main'>
      <div class='main_menu'>
        <h1 class="head_en">質問内容の編集</h1>
        <div class='aside'>
            <%= render 'questions/header'%>
        </div>
      </div>
      <div class='main_content'>
        <div class="contents row">
          <div class="container">
            <%= form_with(model: @question, local: true) do |form| %>
            <%= render 'shared/error_messages', model: form.object %>
              <h3>編集する</h3>
              <%= form.text_field :text, placeholder: "タイトル", rows: "10" %>
              <%= render partial: "form", locals: { form: form } %>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to new_question_path, data: {"turbolinks"=>false} do %>
        <i class="fas fa-plus-circle firework"></i>
      <% end %>
    </div>
  </div>
  <div class='footer'>
  <p>@Copyright Olimpic Apps 2020</p>
  </div>
</div>