<div class='wrapper'>
  <div class='up1'>
      <%= form_with(url: search_questions_path, local: true, method: :get, class: "search-form", id: "qf") do |form| %>
        <%= form.text_field :keyword, placeholder: "質問を探す", class: "search-input", id: "qt" %>
        <%= form.submit "Go", class: "search-btn", id: "qs" %>
      <% end %>
    <%= link_to user_path(current_user), class: "user-profile" do %>
      <% if current_user.name == "ゲストユーザー" %>
        <%= image_tag 'default.png', class: "image-profile" %>
      <% else %>
        <%= image_tag current_user.image.variant(resize: '50x50'), class:"image-profile" if current_user.image.attached?%>
      <% end %>
    <% end %>
    <%= link_to root_path, class: "help" do %>
      <i class="far fa-question-circle"></i>
    <% end %>
  </div>
  <div class='down1'>
    <div class='side_main'>
    <%= link_to rooms_path do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <% @rooms = Room.all %>
    <% @rooms.each do |room| %>
      <% if room.user.id == current_user.id  || room.room_order.user.id == current_user.id%>
        <%= link_to room_messages_path(room), data: {"turbolinks"=>false} do %>
          <%= image_tag room.user.image, class:"image-profile" if room.user.image.attached? %>
        <% end %>
      <% end %>
    <% end %>
    </div>
    <div class='nav_main'>
      <div class='up2'>
        <%= link_to questions_path do %>
          <p>質問一覧<p>
        <% end %>
      </div>
      <div class='down2'>
        <%= render "articles/header"%>
      </div>
    </div>
    <div class='main'>
      <div class='main_menu'>
        <h1 class="head_en">質問一覧</h1>
        <div class='aside'>
          <%= render 'questions/header'%>
        </div>
      </div>
      <div class='main_content'>
        <div class='question_wrapper'>
          <div class='question_index'>
            <h1>質問一覧</h1>
            <div class="contents low">
                <%= question_lists(@questions) %>
            </div>
            <%= paginate @questions %>
          </div>
          <div class='question_aside'>
            <div class='question_category'>
              <h3>カテゴリーから探す</h3>
              <div class='category_row'>
              <% if @questions.exists? %>
                <table class="table-name">
                  <tbody>
                    <tr>
                      <th>１位：</th>
                      <td><%= Category.find(5).name %></td>
                    </tr>
                    <tr>
                      <th>２位</th>
                      <td><%= Category.find(3).name %></td>
                    </tr>
                    <tr>
                      <th>３位</th>
                      <td><%= Category.find(9).name %></td>
                    </tr>
                    <tr>
                      <th>４位：</th>
                      <td><%= Category.find(5).name %></td>
                    </tr>
                    <tr>
                      <th>５位</th>
                      <td><%= Category.find(3).name %></td>
                    </tr>                                                         
                  </tbody>    
                </table> 
              <% end %>
              </div>
            </div>
            <div class='question_answer'>
              <h3>回答数ランキング</h3>
              <div class='ranking_answer'>
              <% if !@questions2.empty? %>
                <table class="table-name">
                  <tbody>
                    <tr>
                      <th>１位：</th>
                      <td><%= @questions2.first.name %></td>
                    </tr>
                    <tr>
                      <th>２位</th>
                      <td><%= @questions2.second.name %></td>
                    </tr>
                    <tr>
                      <th>３位</th>
                      <td><%= @questions2.third.name %></td>
                    </tr>
                    <tr>
                      <th>４位：</th>
                      <td><%= @questions2.fourth.name %></td>
                    </tr>
                    <tr>
                      <th>５位</th>
                      <td><%= @questions2.fifth.name %></td>
                    </tr>                                                       
                  </tbody>    
                </table> 
              <% end %>
              </div>
            </div>
            <div class='question_like'>
              <h3>いいね数ランキング</h3>
              <div class='ranking_like'>
              <% if !@question_ranking.empty? %>
                <table class="table-name">
                  <tbody>
                    <tr>
                      <th>１位：</th>
                      <td><%= @question_ranking.first.name %></td>
                    </tr>
                    <tr>
                      <th>２位</th>
                      <td><%= @question_ranking.second.name %></td>
                    </tr>
                    <tr>
                      <th>３位</th>
                      <td><%= @question_ranking.third.name %></td>
                    </tr>
                    <tr>
                      <th>４位：</th>
                      <td><%= @question_ranking.fourth.name %></td>
                    </tr>
                    <tr>
                      <th>５位</th>
                      <td><%= @question_ranking.fifth.name %></td>
                    </tr>
                    <tr>                                                       
                  </tbody>    
                </table> 
              <% end %>
              </div>      
            </div>
          </div>
        </div>
      </div>
      <%= link_to new_question_path, data: {"turbolinks"=>false} do %>
        <i class="fas fa-plus-circle firework"></i>
      <% end %>
    </div>
  </div>
  <div class='footer'>
  <p>@Copyright Olimpic Apps 2020</p>
  </div>
</div>