<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">Question</h1>
      <h3 class="head__ja">質問コーナー</h3>
      <%= render "header"%>
    </div>
    <div class='main_content'>
      <%= form_with(url: search_questions_path, local: true, method: :get, class: "search-form", id: "qf") do |form| %>
        <%= form.text_field :keyword, placeholder: "質問を探す", class: "search-input", id: "qt" %>
        <%= form.submit "Go", class: "search-btn", id: "qs" %>
      <% end %>
      <div class='question_wrapper'>
        <div class='question_index'>
          <h1>質問一覧</h1>
          <div class="contents low">
              <%= question_lists(@questions) %>
          </div>
          <%= paginate @questions %>
        </div>
        <div class='question_aside'>
          <div class='question_category'>
            <h3>カテゴリーから探す</h3>
            <div class='category_row'>
            <% if !@question_ranking %>
              <table class="table-name">
                <tbody>
                  <tr>
                    <th>１位：</th>
                    <td><%= Category.find(5).name %></td>
                  </tr>
                  <tr>
                    <th>２位</th>
                    <td><%= Category.find(3).name %></td>
                  </tr>
                  <tr>
                    <th>３位</th>
                    <td><%= Category.find(9).name %></td>
                  </tr>
                </tbody>    
              </table> 
            <% end %>
            </div>
          </div>
          <div class='question_answer'>
            <h3>回答数ランキング</h3>
            <div class='ranking_answer'>
            </div>
          </div>
          <div class='question_like'>
            <h3>いいね数ランキング</h3>
            <div class='ranking_like'>
            <% if !@question_ranking %>
              <table class="table-name">
                <tbody>
                  <tr>
                    <th>１位：</th>
                    <td><%= @question_ranking.first.title %></td>
                  </tr>
                  <tr>
                    <th>２位</th>
                    <td><%= @question_ranking.second.title %></td>
                  </tr>
                  <tr>
                    <th>３位</th>
                    <td><%= @question_ranking.third.title %></td>
                  </tr>
                </tbody>    
              </table> 
            <% end %>
            </div>      
          </div>
          <%= link_to new_question_path, data: {"turbolinks"=>false} do %>
            <%= image_tag 'bat.png', class:"bat_img" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>