<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">Question</h1>
      <h3 class="head__ja">質問コーナー</h3>
      <%= render "header"%>
    </div>
    <div class='main_content'>
      <%#= form_with(url: search_questions_path, local: true, method: :get, class: "search-form", id: "qf") do |form| %>
        <%#= form.text_field :keyword, placeholder: "質問を探す", class: "search-input", id: "qt" %>
        <%#= form.submit "Go", class: "search-btn", id: "qs" %>
      <%# end %>
      <%= search_form_for @p, url: search_questions_path do |f| %>
        <%= f.label :created_at_eq, '時系列：' %>
        <%= f.collection_select :created_at_eq, @question_created, :created_at, :created_at, include_blank: '指定なし' %>
        <br>
        <%= f.label :category_id_eq, 'カテゴリー：' %>
        <%= f.collection_select :category_id_eq, @question_category, :id, :id, include_blank: '指定なし' %>
      <%= f.submit '検索' %>
      <% end %>
      <div class='question_wrapper'>
        <div class='question_index'>
          <h1>質問一覧</h1>
          <div class="contents low">
              <%= question_lists(@questions) %>
          </div>
          <%= paginate @questions %>
        </div>
        <div class='question_aside'>
          <div class='question_category'>
            <h3>カテゴリーから探す</h3>
            <div class='category_row'>
            </div>
          </div>
          <div class='question_answer'>
            <h3>回答数ランキング</h3>
            <div class='ranking_answer'>
            </div>
          </div>
          <div class='question_like'>
            <h3>いいね数ランキング</h3>
            <div class='ranking_like'>
            </div>      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>