<div class='wrapper'>
  <div class='up1'>
    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タグで検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <%= render 'shared/up1'%>
  </div>
  <div class='down1'>
    <%= render 'shared/side_main' %>
    <div class='nav_main'>
      <div class='up2'>
        <%= link_to questions_path do %>
          <p>質問一覧<p>
        <% end %>
      </div>
      <div class='down2'>
        <%= render "articles/header"%>
      </div>
    </div>
    <div class='main'>
      <div class='main_menu'>
        <h1 class="head_en">質問投稿</h1>
        <div class='aside'>
          <%= render 'questions/header'%>
        </div>
      </div>
      <div class='main_content'>
        <div class="contents row">
          <div class="container">
            <%= form_with(model: @question, local: true) do |form| %>
            <%= render 'shared/error_messages', model: form.object %>
              <h3>質問フォーム</h3>
              <%= render partial: "form", locals: { form: form } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='footer'>
  <p>@Copyright Olimpic Apps 2020</p>
  </div>
</div>