<div class='wrapper'>
  <div class='up1'>
    <%= form_with(url: search_questions_path, local: true, method: :get, class: "search-form", id: "qf") do |form| %>
      <%= form.text_field :keyword, placeholder: "質問を探す", class: "search-input", id: "qt" %>
      <%= form.submit "Go", class: "search-btn", id: "qs" %>
    <% end %>
    <%= render 'shared/up1'%>
  </div>
  <div class='down1'>
    <%= render 'shared/side_main' %>
    <div class='nav_main'>
      <div class='up2'>
        <%= link_to questions_path do %>
          <p>質問一覧<p>
        <% end %>
      </div>
      <div class='down2'>
        <%= render "articles/header"%>
      </div>
    </div>
    <div class='main'>
      <div class='main_menu'>
        <h1 class="head_en">質問検索</h1>
        <div class='aside'>
            <%= render 'questions/header'%>
        </div>
      </div>
      <div class='main_content'>
        <div class='question_wrapper'>
          <div class='question_index'>
            <div class="contents low">
              <%= search_form_for @p, url: search_questions_path do |f| %>
                <%= f.label :created_at_eq, '時系列：' %>
                <%= f.collection_select :created_at_eq, @question_created, :created_at, :created_at, include_blank: '指定なし' %>
                <br>
                <%= f.label :category_id_eq, 'カテゴリー：' %>
                <%= f.collection_select :category_id_eq, @question_category, :id, :id, include_blank: '指定なし' %>
                <%= f.submit '検索' %>
              <% end %>
              <%= question_lists(@questions) %>
              <%= paginate @questions %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= link_to new_question_path, data: {"turbolinks"=>false} do %>
      <i class="fas fa-plus-circle firework"></i>
    <% end %>
    </div>
  </div>
  <div class='footer'>
  <p>@Copyright Olimpic Apps 2020</p>
  </div>
</div>