<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">Search Question</h1>
      <h3 class="head__ja">質問を探そう！</h3>
      <%= render "header"%>
    </div>
    <div class='main_content'>
      <%= search_form_for @p, url: search_questions_path do |f| %>
        <%= f.label :created_at_eq, '時系列：' %>
        <%= f.collection_select :created_at_eq, @question_created, :created_at, :created_at, include_blank: '指定なし' %>
        <br>
        <%= f.label :category_id_eq, 'カテゴリー：' %>
        <%= f.collection_select :category_id_eq, @question_category, :id, :id, include_blank: '指定なし' %>
      <%= f.submit '検索' %>
      <% end %>
      <div class="contents row">
        <% @questions.each do |question| %>
          <%= render partial: "question", locals: { question: question } %>
        <% end %>
      </div>
    </div>
  </div>
</div>