

<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">Question Show</h1>
      <h3 class="head__ja">質問の詳細ー</h3>
      <%= render "header"%>
    </div>
    <div class='main_content'>
      <div class="contents row">
        <div class="content_post_show">
          <% if @question.image %>
          <div class='post_picture_show'>
            <%= image_tag @question.image.variant(resize: '50x50'), class: 'question-image' if @question.image.attached? %>
            <span class="name">
              <a href="/users/<%= @question.user.id %>">
                <span>投稿者:<%= @question.user.name %></span>
              </a>
            </span>
          </div>
          <% end %>
          <div class='content_show'>
            <h3><%= @question.title %></h3>
            <p><%= @question.text %></p>
            <%= @question.category.name %>
          </div>
          <% if user_signed_in? && current_user.id == @question.user_id %>
          <div class="more">
            <ul class="more_list">
              <li>
                <%= link_to '編集', edit_question_path(@question.id), method: :get %>
              </li>
              <li>
                <%= link_to '削除', question_path(@question.id), method: :delete %>
              </li>
            </ul>
          </div>
          <% end %> 
        </div>
        <div class="container">
          <ul>
            <li class="answer-create">
              <h3 class="text-left title">レビュー</h3>
            </li>
            <li id="answers_area">
              <%= render partial: 'answers/index', locals: { answers: @answers, question: @question } %>
            </li>
          </ul>
          <hr>
          <% if user_signed_in? %>
            <div class="answer-create">
                <h3 class="text-left">レビューを投稿する</h3>
                <%= render partial: 'answers/form', locals: { answer: @answer, question: @question } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>