

<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">Question Show</h1>
      <h3 class="head__ja">質問の詳細ー</h3>
      <%= render "header"%>
    </div>
    <div class='main_content'>
      <div class="contents row">
        <div class="content_post_show_ques">
          <div class='post_picture_show'>
            <%= image_tag @question.image, class: 'question-image' if @question.image.attached? %>
            <span class="name">
              <a href="/users/<%= @question.user.id %>">
                <span>投稿者</span><%= @question.user.name %>
              </a>
            </span>
          </div>
          <div class='content_show'>
            <h3><%= @question.title %></h3>
            <p><%= @question.text %></p>
            <%= @question.category.name %>
          </div>
          <% if user_signed_in? && current_user.id == @question.user_id %>
          <div class="more">
            <ul class="more_list">
              <li>
                <%= link_to '編集', edit_question_path(@question.id), method: :get %>
              </li>
              <li>
                <%= link_to '削除', question_path(@question.id), method: :delete %>
              </li>
            </ul>
          </div>
          <% end %> 
        </div>
        <div class="container">
          <% if current_user %>
            <%= form_with(model: [@question, @answer], remote: true) do |form| %>
              <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
              <%= form.submit "SEND" %>
            <% end %>
          <% else %>
            <strong><p>※※※ 回答には新規登録/ログインが必要です ※※※</p></strong>
          <% end %>
          <div class="answers">
            <h4>＜アンサー一覧＞</h4>
            <% if @answers %>
              <% @answers.each do |answer| %>
                <p>
                  <strong><%= link_to answer.user.name, "/users/#{answer.user_id}" %>：</strong>
                  <p class="text-right"><%= link_to '反応する', new_question_answer_reaction_path(@question.id,answer.id) %></p>
                  <%= answer.text %>
                </p>
                <div class="ba-child text-center disabled<%= "disabled" if @question.best_answer_id != nil %>">
                  <%= button_to "BA", {controller: 'questions', action: 'update'},
                                {method: :put, params: {question: {title: @question.title,
                                                                  text: @question.text,
                                                                  category_id: @question.category_id,
                                                                  best_answer_id: answer.id
                                }}} %>
        
                </div>
              <% end %>
            <% end %>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>