<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @room.name%>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to room_path(current_user) do %>
        <i class="fas fa-fast-backward"></i>
      <% end %>
      <%= link_to room_path(@room), method: :delete, data: {confirm: "削除しますか？"} do %>
        <i class="fas fa-toilet"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="messages", id="message">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], html: {class: "message-form"} do |f|%>
  <%= render 'shared/error_messages', model: f.object %>
  <div class="message-form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'message-form-submit', id: "send" %>
<% end %>