<div class="message">
  <div class="upper-message">
    <div class="message-user">
    <!-- 投稿したユーザー名情報を出力する -->
      <%= message.user.name%>
    </div>
    <div class="message-date">
    <!-- 投稿した時刻を出力する -->
      <%= message.created_at.to_s(:datetime_jp)%>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content", id="messages">
    <!-- 投稿したメッセージ内容を記述する -->
      <%= message.content%>
    </div>
    <div id="user-name" data-json="<%= current_user.name.to_json %>"></div>
    <%= image_tag message.image, class: 'message-image' if message.image.attached?%>
  </div>
</div>
