<div class='wrapper'>
  <div class='up1'>
    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タグで検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <%= render 'shared/up1'%>
  </div>
  <div class='down1'>
    <%= render 'shared/side_main'%>
    <div class='nav_main'>
      <div class='up2'>
        <%= link_to room_path(current_user) do %>
          <p>ルーム一覧<p>
        <% end %>
      </div>
      <div class='down2'>
        <%= render "articles/header"%>
      </div>
    </div>
    <div class='main'>
      <div class='main_menu'>
        <h3 class="head__ja">チャットページ</h3>
        <div class='aside'>
          <div class='article_like'>
            <h3>いいね数ランキング</h3>
          </div>
          <div class='ranking_like'>
          <% if @article_ranking %>
            <th>１位：</th>
            <td><%= link_to @article_ranking.first.user.name, user_path(@article_ranking.first.user) %></td>
            <th>２位：</th>
            <td><%= link_to @article_ranking.second.user.name, user_path(@article_ranking.second.user) %></td>
            <th>３位：</th>
            <td><%= link_to @article_ranking.third.user.name, user_path(@article_ranking.third.user) %></td>
          <% end %>
          </div>
        </div>
      </div>
      <div class='main_content'>
        <div class='main_content'>
          <div class="chat">
            <%= render "main_chat" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='footer'>
  <p>@Copyright Olimpic Apps 2020</p>
  </div>
</div>