<!-- コメント内容(２件) ------------------------------------------------------------------>
<%= comments.count %>件コメント
<h6 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る....</h6>
<% comments.first(2).each do |comment| %>
  <% unless comment.id.nil? %>
    <li class="comment-container">
        <div class="comment-box">
            <div class="comment-text">
                <p><%= link_to comment.user.name, "/users/#{comment.user_id}" %></p>
                <div class="comment-entry">
                    <%= comment.text %>
                    <% if comment.user == current_user %>
                        <%= link_to article_comment_path(comment.article_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                            <i class="fas fa-trash" style="color: rgb(36, 36, 35);"></i>
                        <% end %>
                    <% end %>
                </div>
                <span class="comment-date pull-right">
                      <%= comment.created_at.to_s(:datetime_jp) %>
                </span>
            </div>
        </div>
    </li>
  <% end %>
<% end %>
<!-- コメント内容(3件目以降) ------------------------------------------------------------------>
    <div class="collapse" id="collapseExample">
            <% comments.offset(2).each do |comment| %>
              <% unless comment.id.nil? %>
                <li class="comment-container">
                    <div class="comment-box">
                        <div class="comment-text">
                            <p><%= link_to comment.user.name, "/users/#{comment.user_id}" %></p>
                            <div class="comment-entry">
                                <%= comment.text %>
                                <% if comment.user == current_user %>
                                    <%= link_to article_comment_path(comment.article_id, comment.id), method: :delete, remote: true, class: "comment_destroy" do %>
                                        <i class="fas fa-trash" style="color: rgb(36, 36, 35);"></i>
                                    <% end %>
                                <% end %>
                            </div>
                            <span class="comment-date pull-right">
                                  <%= comment.created_at.to_s(:datetime_jp) %>
                            </span>
                        </div>
                    </div>
                </li>
              <% end %>
            <% end %>
    </div>