<div class="content_post">
  <div class='post_picture'>
    <%= image_tag article.image.variant(resize: '250x250'), class: 'article-image' if article.image.attached? %>
    <span class="name">
      <a href="/users/<%= article.user.id %>">
        <span>投稿者:<%= article.user.name %></span>
      </a>
    </span>
  </div>
  <div class='content_show'>
    <h3><%= article.title %></h3>
    <p>内容：<%= article.text %></p>
    <% article.tags.each do |tag| %>
      <h6>#<%= tag.word %></h6>
    <%end%>
    <p><%= link_to '詳しく見る', article_path(article.id), method: :get, class:"ren" %></p>
    <div class='favorites_<%= article.id %>'>
      <%= render partial: 'favorites/favorite', locals: { article: article } %>
    </div>
  </div>
</div>