<div class="content_post" style="background-image: url(<%= article.image %>);">
  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <li>
        <%= link_to '詳細', article_path(article.id), method: :get %>
      </li>
      <% if user_signed_in? && current_user.id == article.user_id %>
        <li>
          <%= link_to '編集', edit_article_path(article.id), method: :get %>
        </li>
        <li>
        <%= link_to '削除', article_path(article.id), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <p><%= article.text %></p>
  <% article.tags.each do |tag| %>
    #<%= tag.word %>
  <%end%>
  <span class="name">
    <a href="/users/<%= article.user.id %>">
      <span>投稿者</span><%= article.user.name %>
    </a>
  </span>
  <% if user_signed_in? && current_user != article.user %>
    <% if article.user.followed_by?(current_user) %>
      <p><%=link_to "フォロー済み", user_relationships_path(article.user.id), class: "follow", method: :delete %></p>
    <% else %>
      <p><%=link_to "フォローする", user_relationships_path(article.user.id), class: "follow", method: :post %></p>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <% if article.favorited_by?(current_user) %> <!-- ログインしているユーザーがファボしたかどうかで分岐 -->
      <p id="favo"><i class="far fa-thumbs-up"></i><%=link_to article.favorites.count, article_favorites_path(article.id), method: :delete %></p>
    <% else %>
      <p id="favo"><i class="far fa-thumbs-up"></i><%=link_to article.favorites.count, article_favorites_path(article.id), method: :post %></p>
    <% end %>
  <% else %>
    <p id="favo"><i class="far fa-thumbs-up"></i><%= article.favorites.count %></p>
  <% end %>
</div>