<%= breadcrumbs separator: " &rsaquo; "%>
<h6 class="olympic">オンラインピック</h6>
<% if user_signed_in? %>
  <div class="navigation">
    <%= link_to "▼トップページ", root_path, class:"nav"%>
    <%= render "articles/heading"%>
    <%= link_to "▼プロフィール", user_path(current_user), class:"nav"%>
    <%= render "users/header"%>
    <%= link_to "▼サロンルーム", room_path(current_user), class:"nav"%>
    <%= render "rooms/header"%>
    <%= link_to "▼記事", search_articles_path, class:"nav" %>
    <%= render "articles/heading"%>
    <%= link_to "▼質問", questions_path, class:"nav" %>
    <%= render "questions/header"%>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav logout" %>
  </div>
<% else %>
  <div class="not_login">
    <%= link_to "ログイン", new_user_session_path, class: "login" %>
    <%= link_to "サインアップ", new_user_registration_path, class: "signup", data: {"turbolinks"=>false} %>
  </div>
<% end %>








