<%= breadcrumbs separator: " &rsaquo; "%>
<h6 class="olympic">オンラインピック</h6>
<% if user_signed_in? %>
  <div class="navigation">
    <p> ▼トップページ</p>
    <div class='ppp'>
      <%= render "articles/heading"%>
    </div>
  </div>
  <div class="navigation">
    <p> ▼プロフィール</p>
    <div class='ppp'>
      <%= render "users/header"%>
    </div>
  </div>
  <div class="navigation">
    <p> ▼サロンルーム</p>
    <div class='ppp'>
      <%= render "rooms/header"%>
    </div>
  </div>
  <div class="navigation">
    <p> ▼記事</p>
    <div class='ppp'>
      <%= render "articles/heading"%>
    </div>
  </div>
  <div class="navigation">
    <p> ▼質問</p>
    <div class='ppp'>
      <%= render "questions/header"%>
    </div>
  </div>
  <div class="navigation">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav logout", data: {confirm: "ログアウトしますか？"} %>
  </div>
<% else %>
  <div class="not_login">
    <%= link_to "ログイン", new_user_session_path, class: "login" %>
    <%= link_to "サインアップ", new_user_registration_path, class: "signup", data: {"turbolinks"=>false} %>
  </div>
<% end %>