  <header class="header">
    
      <h1><a class="olympic" href="/">Olympic</a></h1>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
            <ul class="user__info">
              <li class="nav__item">
                <%= link_to current_user.name , edit_user_path(current_user), class: "name" %>
                <ul class="dropdown">
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
              <li class="nav__item">
                <a href=#>Profile</a>
                <ul class="dropdown">
                  <li><%= link_to "ユーザー一覧", users_path %></li>
                  <li><%= link_to "フォロー" %></li>
                  <li><%= link_to "フォロワー" %></li>
                  <li><%= link_to "お気に入り" %></li>
                </ul>                
              </li>
              <li class="nav__item">
                <%= link_to "Room"  %>
                <ul class="dropdown">
                  <li><%= link_to "チャットを作成する", new_room_path %></li>
                </ul>
              </li>
              <li class="nav__item">
                <%= link_to "Article" %>
                <ul class="dropdown">
                  <li><%= link_to "一覧表示", articles_path %></li>
                  <li><%= link_to "投稿する", new_article_path, class: "post" %></li>
                </ul>                
              </li>
              <li class="nav__item">
                <%= link_to "Question" %>
                <ul class="dropdown">
                  <li><%= link_to "一覧表示", questions_path %></li>
                  <li><%= link_to "投稿する", new_question_path, class: "post" %></li>
                </ul> 
              </li>                            
            </ul>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "Login", new_user_session_path, class: "post" %>
          <%= link_to "Signup", new_user_registration_path, class: "post" %>
        </div>
      <% end %>
    
  </header>

