<div class='wrapper'>
  <div class='nav_main'>
    <%= render "header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">My page</h1>
      <h3 class="head__ja">マイページ</h3>
      <%= render "heading"%>
    </div>
    <div class='main_content'>
      <div class='content'>
        <%= search_form_for @p, url: searches_articles_path do |f| %>
          <%= f.label :word_eq, 'タグ検索：' %>
          <%= f.collection_select :word_eq, @article_tag, :word, :word, include_blank: '指定なし' %>
          <br>
        <%= f.submit '検索' %>
        <% end %>
        <div class='article_show'>
          <div class="contents row">
            <%= article_lists(@articles) %>
          </div>
          <%= paginate @articles %>
        </div>
      </div>
    </div>
    <%= link_to new_article_path, data: {"turbolinks"=>false} do %>
      <%= image_tag 'surf.png', class:"surf_img" %>
    <% end %>
  </div>
</div>
<% breadcrumb :root %>



