

<div class='wrapper'>
  <div class='nav_main'>
    <%= render "messages/side_bar"%>
  </div>
  <div class="content">
    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <div class="contents row">
        <%= article_lists(@articles) %>
    </div>
  </div>
  <div class='aside'>
    <%= render "questions/aside"%>
  </div>
</div>

<%#= render "footer" %>