<div class='wrapper'>
  <div class='nav_main'>
    <%= render "header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <p class="head_en">My page</p>
      <h3 class="head__ja">マイページ</h3>
      <ul class='show_head'>
        <li><%= link_to "記事一覧", articles_path %></li>
        <li><%= link_to "質問一覧", questions_path %></li>
        <li><%= link_to "ルーム一覧", room_path(current_user), class: "post", data: {"turbolinks"=>false} %></li>
        <li><%= link_to "ユーザ一覧", users_path(current_user) %></li>
      <ul class='show_head'>
    </div>
    <div class='main_content'>
      <div class='news'></div>

        <div class='present'>
          <h4>オンラインピックの主な機能</h4>
          <ul>
            <li>・オンラインサロンプラットフォームの提供</li>
            <li>・感動した出来事のシェア化</li>
            <li>・疑問を解消するための質問機能</li>
            <li>・繋がりを作るフォロー/フォロワー関係</li>
          <ul>
        </div>
        <div class='present'>
          <h4>シェア機能</h4>
          <p>・記事機能（タグ、複雑検索、いいねランキングの実装、非同期化）</p>
          <p>・質問機能（カテゴリー別検索、お気に入りランキング、ベストアンサー機能）</p>
          <div class='gif'>
            <a href="https://gyazo.com/22e4750006f82d111914e59973b670c0"><img src="https://i.gyazo.com/22e4750006f82d111914e59973b670c0.gif" alt="Image from Gyazo" width="500"/></a>
            <a href="https://gyazo.com/67021664d7183a7b8253341893212d79"><img src="https://i.gyazo.com/67021664d7183a7b8253341893212d79.gif" alt="Image from Gyazo" width="500"/></a>
          </div>
        </div>
        <div class='present'>
          <h4>サロンユーザーの豊富な情報量</h4>
          <p>サロン購入の際に安心感を与える豊富な情報量</p>
          <p>・ユーザーには(記事、質問、お気に入り、購入履歴、購入者にフォロー、フォロワー）の豊富な情報量を掲載</p>
          <div class='gif'>
            <a href="https://gyazo.com/ad25db3c91893ee4f22d3aa3a509052b"><img src="https://i.gyazo.com/ad25db3c91893ee4f22d3aa3a509052b.gif" alt="Image from Gyazo" width="500"/></a>
          </div>
        </div>
        <div class='present'>
          <h4>非同期通信（コメント、お気に入り、削除、チャット機能）</h4>
          <p>スピーディーで、快適な操作性の追求。</p>
          <div class='gif'>
            <a href="https://gyazo.com/6d76c4ba0e08f5b7d2b26fc6f66646e6"><img src="https://i.gyazo.com/6d76c4ba0e08f5b7d2b26fc6f66646e6.gif" alt="Image from Gyazo" width="500"/></a>
            <a href="https://gyazo.com/f7971e9ed354f53bb121d382bec1c60e"><img src="https://i.gyazo.com/f7971e9ed354f53bb121d382bec1c60e.gif" alt="Image from Gyazo" width="500"/></a>
          </div>
        </div>
        <div class='present'>
          <h4>オンラインピックの役割</h4>
            <p>コミュニティを絞った多機能なアプリ(twitter, facebook, 知恵袋の主な機能を保有）</p>
        </div>
        <div class='present'>
          <h4>日常で鳥肌が立つ経験はしますか？？</h4>
          <p>スポーツをみているときに鳥肌が立ちませんか？？</p>
        </div>
        <div class='present'>
          <h4>オンラインピックの役割</h4>
          <ul>
            <li>！スポーツの感動を世界中にシェアすることが可能</li>
            <li>！プロ選手とアマチュア選手の交流の場を提供</li>
            <li>！スポーツをライフスタイルに導入</li>
          <ul>
        </div>
        <div class='present'>
          <h4>オンラインピックの役割</h4>
          <ul>
            <li>1. プロアスリートの低賃金</li>
            <li>2. スポーツ環境における不平等さ</li>
            <li>3. 社会に出てからのスポーツ障壁の高さ</li>
            <li>4. 埋もれた才能の発掘</li>
          <ul>
        </div>
      </div>
    </div>
  </div>
</div>
<% breadcrumb :root %>
