<div class='wrapper'>
  <div class='nav_main'>
    <%= render "header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">My page</h1>
      <h3 class="head__ja">マイページ</h3>
      <ul class='show_head'>
        <li><%= link_to "記事一覧", articles_path %></li>
        <li><%= link_to "質問一覧", questions_path %></li>
        <li><%= link_to "ルーム一覧", room_path(current_user), class: "post", data: {"turbolinks"=>false} %></li>
        <li><%= link_to "ユーザ一覧", users_path(current_user) %></li>
      <ul class='show_head'>
    </div>
    <div class='main_content'>
      <div class='news'>

      </div>
    </div>
  </div>
</div>
<% breadcrumb :root %>
