

<div class='wrapper'>
  <div class='nav_main'>
    <%= render "header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">Article Show</h1>
      <h3 class="head__ja">記事の詳細</h3>
      <%= render "heading"%>
    </div>
    <div class='main_content'>
      <div class="contents row">
        <div class="content_post_show">
          <div class='post_picture_show'>
            <%= image_tag @article.image.variant(resize: '500x500'), class: '@article-image' if @article.image.attached? %>
            <span class="name">
              <a href="/users/<%= @article.user.id %>">
                <span>投稿者:<%= @article.user.name %></span>
              </a>
            </span>
          </div>
          <div class='content_show'>
            <h3><%= @article.title %></h3>
            <p>内容：<%= @article.text %></p>
            <% @article.tags.each do |tag| %>
              <h6>#<%= tag.word %></h6>
            <%end%>
            <p><%= link_to '詳しく見る', article_path(@article.id), method: :get, class:"ren" %></p>
            <div class='favorites_<%= @article.id %>'>
              <%= render partial: 'favorites/favorite', locals: { article: @article } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
