

<div class='wrapper'>
  <div class='nav_main'>
    <%= render "header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">Article Show</h1>
      <h3 class="head__ja">記事の詳細</h3>
      <%= render "heading"%>
    </div>
    <div class='main_content'>
      <div class="contents row">
        <div class="content_post_show">
          <div class='post_picture_show'>
            <%= image_tag @article.image.variant(resize: '500x500'), class: 'article-image' if @article.image.attached? %>
            <span class="name">
              <a href="/users/<%= @article.user.id %>">
                <span>投稿者:<%= @article.user.name %></span>
              </a>
            </span>
          </div>
          <div class='content_show'>
            <h3><%= @article.title %></h3>
            <p>内容：<%= @article.text %></p>
            <% @article.tags.each do |tag| %>
              <h6>#<%= tag.word %></h6>
            <%end%>
            <% if user_signed_in? && current_user.id == @article.user_id %>
            <div class="more">
              <ul class="more_list">
                <li>
                  <%= link_to '編集', edit_article_path(@article.id), method: :get, class:"ren", data: {"turbolinks"=>false} %>
                </li>
                <li>
                  <%= link_to '削除', article_path(@article.id), method: :delete %>
                </li>
              </ul>
            </div>
            <% end %>
            <div class='favorites_<%= @article.id %>'>
              <%= render partial: 'favorites/favorite', locals: { article: @article } %>
            </div>
          </div>
        </div>
        <div class="container">
        <ul>
          <li class="comment-create">
            <h3 class="text-left title">レビュー</h3>
          </li>
          <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
          </li>
        </ul>
        <hr>
          <% if user_signed_in? %>
            <div class="comment-create">
                <h3 class="text-left">レビューを投稿する</h3>
                <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
