<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @article.image %>);">
    <% if user_signed_in? && current_user.id == @article.user_id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '編集', edit_article_path(@article.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', article_path(@article.id), method: :delete %>
          </li>
        </ul>
      </div>
    <% end %>
    <p><%= @article.text %></p>
    <span class="name">
      <a href="/users/<%= @article.user.id %>">
        <span>投稿者</span><%= @article.user.name %>
      </a>
    </span>
  </div>
  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@article, @favorite], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="favorites">
      <h4>＜コメント一覧＞</h4>
      <% if @favorites %>
        <% @favorites.each do |favorite| %>
          <p>
            <strong><%= link_to favorite.user.name, "/users/#{favorite.user_id}" %>：</strong>
            <%= favorite.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>