<div class="content_post">

  <%= image_tag article.image.variant(resize: '500x500'), class: 'article-image' if article.image.attached? %>
  <div class='content_show'>
    <p><%= article.text %></p>
    <% article.tags.each do |tag| %>
      #<%= tag.word %>
    <%end%>
    <span class="name">
      <a href="/users/<%= article.user.id %>">
        <span>投稿者</span><%= article.user.name %>
      </a>
    </span>
      <ul class="more_list">
        <li>
          <%= link_to '詳細', article_path(article.id), method: :get %>
        </li>
        <% if user_signed_in? && current_user.id == article.user_id %>
          <li>
            <%= link_to '編集', edit_article_path(article.id), method: :get %>
          </li>
          <li>
          <%= link_to '削除', article_path(article.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        <% end %>
      </ul>
    <div class='favorites_<%= article.id %>'>
      <%= render partial: 'favorites/favorite', locals: { article: article } %>
    </div>
  </div>
</div>