<ul class='show_head'>
  <p>目次：</p>
  <li><%= link_to "home", user_path(current_user) %></li>
  <li><%= link_to "記事一覧", article_user_path(@user.id) %></li>
  <li><%= link_to "質問一覧", question_user_path(@user.id) %></li>
  <li><%= link_to "フォロー", follows_user_path(@user.id) %></li>
  <li><%= link_to "フォロワー", followers_user_path(@user.id) %></li>
  <li><%= link_to "出品一覧", rooms_path %></li>
  <li><%= link_to "お気に入り", article_favorites_path(@user.id) %></li>
  <li><%= link_to "ユーザー一覧", users_path(@user.id) %></li>
  <% if current_user == @user%>
  <li><%= link_to "カード", card_path(current_user),data: {"turbolinks"=>false} %></li>
  <% end %>
</ul>