<div class='wrapper'>
  <div class='up1'>
    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タグで検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <%= render 'shared/up1'%>
  </div>
  <div class='down1'>
    <%= render 'shared/side_main' %>
    <div class='nav_main'>
      <div class='up2'>
        <%= link_to user_path(@user) do %>
          <p>ユーザートップ<p>
        <% end %>
      </div>
      <div class='down2'>
        <%= render "articles/header"%>
      </div>
    </div>
    <div class='main'>
      <div class='main_menu'>
        <h1 class="head_en">ユーザー記事</h1>
        <div class='aside'>
            <%= render 'users/heading'%>
        </div>
      </div>
      <div class='main_content'>
        <h4><%= @name %>さんの投稿一覧</h4>
        <div class="contents row">
          <%= article_lists(@articles) %>
        </div>
        <%= paginate @articles %>
      </div>
      <%= link_to new_article_path, data: {"turbolinks"=>false} do %>
        <i class="fas fa-plus-circle firework"></i>
      <% end %>
    </div>
  </div>
  <div class='footer'>
  <p>@Copyright Olimpic Apps 2020</p>
  </div>
</div>