<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en"><%= @user.name %> Article</h1>
      <h3 class="head__ja"><%= @user.name %>さんの記事</h3>
      <%= render "header"%>
    </div>
    <div class='main_content'>
      <h4><%= @name %>さんの投稿一覧</h4>
      <div class="contents row">
        <%= article_lists(@articles) %>
      </div>
      <%= paginate @articles %>
    </div>
  </div>
</div>