

<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">UserList</h1>
      <h3 class="head__ja">ユーザー一覧</h3>
      <%= render "header"%>
    </div>
    <div class='main_content'>
      <% @users.each do |user| %>
        <hr>
        <p><span><%= user.name %>: </span><%= link_to user_path(user.id) do %>
          <%= image_tag user.image.variant(resize: '100x100'), class: 'user-image' if user.image.attached? %>
          <% end %>
        </p>
        <div class='users_<%= user.id %>'>
          <%= render partial: 'relationships/following', locals: {user: user}%>
        </div>
      <% end %>
    </div>
  </div>
</div>