

<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">UserList</h1>
      <h3 class="head__ja">ユーザー一覧</h3>
      <%= render "header"%>
    </div>
    <div class='main_content'>
      <% @users.each do |user| %>
        <hr>
        <p><span>email: </span><%= link_to user.email, user_path(user.id) %></p>
        <div class='users_<%= user.id %>'>
          <%= render partial: 'relationships/following', locals: {user: user}%>
        </div>
      <% end %>
    </div>
  </div>
</div>