

<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">My page</h1>
      <h3 class="head__ja">マイページ</h3>
      <%= render "header"%>
    </div>
    <div class='user_content'>
      <div class='user_left'>
        <%= image_tag @user.image.variant(resize: '200x200'), class: 'user-image' if @user.image.attached? %>
      </div>
      <div class='user_right'>
        <table class="table-name">
          <tbody>
            <tr>
              <th>氏名</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>eメール</th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th>スポーツ</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>経歴</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>プロフィール内容</th>
              <td><%= @user.name %></td>
            </tr>
          </tbody>    
        </table>    

        <% if current_user != @user %>
          <% if @user.followed_by?(current_user) %>
            <p><%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></p>
          <% else %>
            <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
          <% end %>
        <% end %>

        <div class="contents row">
          <p><%= @name %>さんの投稿一覧</p>
          <% @articles.each do |article| %>
            <%= link_to article.text, article_path(article.id)  %>
          <% end %>
        </div>
        <div class="contents low">
          <% @questions.each do |question| %>
            <%= render partial: "questions/question", locals: { question: question } %>
          <% end %>
        </div>

        <div class="favorites">
          <h4>＜お気に入り一覧＞</h4>
          <% @favorite_articles.each do |article| %>
            <hr>
            <p><span>ファボツイート内容: </span><%=link_to article.text, article_path(article.id) %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>