

<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">My page</h1>
      <h3 class="head__ja">マイページ</h3>
      <%= render "header"%>
    </div>
    <div class='user_content'>
      <div class='user_left'>
        <%= image_tag @user.image.variant(resize: '200x200'), class: 'user-image' if @user.image.attached? %>
        <div class='users_<%= @user.id %>'>
          <%= render partial: 'relationships/following', locals: {user: @user}%>
        </div>
      </div>
      <div class='user_right'>
      <%= link_to "プロフィールの編集", edit_user_path(current_user), class: "pro_edit" %>
        <table class="table-name">
          <tbody>
            <tr>
              <th>氏名</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>eメール</th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th>スポーツ</th>
              <td><%= Category.find(@user.category_id).name %></td>
            </tr>
            <tr>
              <th>経歴</th>
              <td><%= @user.career %></td>
            </tr>
            <tr>
              <th>プロフィール内容</th>
              <td><%= @user.introduce %></td>
            </tr>
          </tbody>    
        </table> 
      </div>
    </div>
  </div>
</div>