

<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">My page</h1>
      <h3 class="head__ja">マイページ</h3>
      <%= render "header"%>
    </div>
    <div class='user_content'>
      <div class='user_left'>
        <%= image_tag @user.image.variant(resize: '200x200'), class: 'user-image' if @user.image.attached? %>
          <% if current_user != @user %>
            <% if @user.followed_by?(current_user) %>
              <%=link_to "フォロー解除", user_relationships_path(@user.id), method: :delete, class:"follow" %>
            <% else %>
              <%=link_to "フォローする", user_relationships_path(@user.id), method: :post, class:"follow"  %>
            <% end %>
          <% end %>
      </div>
      <div class='user_right'>
        <table class="table-name">
          <tbody>
            <tr>
              <th>氏名</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>eメール</th>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th>スポーツ</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>経歴</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>プロフィール内容</th>
              <td><%= @user.name %></td>
            </tr>
          </tbody>    
        </table>    

      </div>
    </div>
  </div>
</div>