<p><span>name: </span><%= @user.name %></p>
<p><span>email: </span><%= @user.email %></p>


<p><%=link_to "フォロー", follows_user_path(@user.id) %></p>
<p><%=link_to "フォロワー", followers_user_path(@user.id) %></p>
<% if current_user != @user %>
  <% if @user.followed_by?(current_user) %>
    <p><%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></p>
  <% else %>
    <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
  <% end %>
<% end %>

<div class="contents row">
  <p><%= @name %>さんの投稿一覧</p>
  <% @articles.each do |article| %>
    <%= render partial: "articles/article", locals: { article: article } %>
  <% end %>
</div>
<div class="contents low">
  <% @questions.each do |question| %>
    <%= render partial: "questions/question", locals: { question: question } %>
  <% end %>
</div>

<div class="AccountPage">
  <div class="AccountPage__title">
    <h1>マイページ</h1>
  </div><br>
  <div class="Account__info">
    <h2>ユーザー情報</h2>
  </div>
  <div class="AccountPage__form">
    <%= form_for(current_user) do |f| %>
      <div class="FormField">
        <div class="FormField__name">
          <%= f.label :name %>
        </div>
        <div class="FormField__name">
          <%= f.text_field :name, autofocus: true %>
        </div>
      </div>
      <div class="FormField">
        <div class="FormField__email">
          <%= f.label :email %>
        </div>
        <div class="FormField__email">
          <%= f.email_field :email %>
        </div>
        <br>
      </div>
      <%= f.submit "更新する" %>
    <% end %>
  </div>
</div>