<% if user_signed_in? %>
  <div class="navigation">
  <%= link_to root_path, data: {confirm: "ヘルプに移動しますか？"} do%>
    <p><i class="fas fa-thumbtack"></i>
  <% end %>
  </div>
  <div class="navigation">
  <%= link_to users_path(current_user), data: {confirm: "ユーザーコーナーに移動しますか？"} do%>
    <p><i class="fas fa-address-card"></i>
  <% end %>
  </div>
  <div class="navigation">
  <%= link_to rooms_path, data: {confirm: "ルームコーナーに移動しますか？"} do%>
    <p><i class="fas fa-comment-alt"></i>
  <% end %>
  </div>
  <div class="navigation">
  <%= link_to articles_path, data: {confirm: "記事コーナーに移動しますか？"} do%>
    <p><i class="fas fa-book"></i>
  <% end %>
  </div>
  <div class="navigation">
  <%= link_to questions_path, data: {confirm: "質問コーナーに移動しますか？"} do%>
    <p><i class="fas fa-question"></i>
  <% end %>
  </div>
  <div class="navigation">
    <%= link_to destroy_user_session_path, method: :delete, class:"nav logout", data: {confirm: "ログアウトしますか？"} do %>
      <p><i class="fas fa-sign-out-alt"></i>
    <% end %>
  </div>


<%= link_to user_path(current_user), class: "user-profile" do %>
  <% if current_user.image.nil? %>
    <%= image_tag 'default.png', class: "image-profile" %>
  <% else %>
    <%= image_tag current_user.image.variant(resize: '50x50'), class:"image-profile" if current_user.image.attached?%>
  <% end %>
<% end %>
<%= link_to root_path, class: "help" do %>
  <i class="far fa-question-circle"></i>
<% end %>
<% end %>