

<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">Room</h1>
      <h3 class="head__ja">チャットルームへようこそ</h3>
      <%= render "header"%>
    </div>
    <div class='main_content'>
      <div class='wrapper'>
        <%= search_form_for @p, url: search_rooms_path do |f| %>
          <%= f.label :name_eq, '商品名：' %>
          <%= f.collection_select :name_eq, @room_name, :name, :name, include_blank: '指定なし' %>
          <br>
          <%= f.label :category_id_eq, 'カテゴリー：' %>
          <%= f.collection_select :category_id_eq, @room_category, :id, :id, include_blank: '指定なし' %>
          <br>
          <%= f.label :price, '価格：' %>
          <%= f.radio_button :price_lteq, '' %>
          指定なし
          <%= f.radio_button :price_lteq, '3000' %>
          3000円以下
          <%= f.radio_button :price_lteq, '5000' %>
          5000円以下
          <%= f.radio_button :price_gteq, '10000' %>
          10000円以上
          <br>
        <%= f.submit '検索', id: "chomo" %>
        <% end %>
        <div class='side-bar'>
          <% if user_signed_in? %>
          <div class="rooms">
            <% @rooms.each do |room| %>
              <div class="room">
                <table class="table-name">
                  <tbody>
                    <tr>
                      <th><%= room.name %>
                        <% if room.room_order %>
                          <div class='sold-out'>
                            <span>soldout!!</span>
                          </div>
                        <% end %>
                      </th>
                      <td>
                      <% if !room.room_order %>
                        <%= link_to '購入画面へ', order_new_room_path(room.id) %>
                      <% end %>
                      </td>
                  </tbody>    
                </table> 
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% breadcrumb :rooms %>