<div class='wrapper'>
  <div class='up1'>
    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タグで検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <%= link_to user_path(current_user), class: "user-profile" do %>
      <% if current_user.image.nil? %>
        <%= image_tag 'default.png', class: "image-profile" %>
      <% else %>
        <%= image_tag current_user.image.variant(resize: '50x50'), class:"image-profile" if current_user.image.attached?%>
      <% end %>
    <% end %>
    <%= link_to root_path, class: "help" do %>
      <i class="far fa-question-circle"></i>
    <% end %>
  </div>
  <div class='down1'>
    <div class='side_main'>
    <%= link_to rooms_path do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <% @rooms = Room.all %>
    <% @rooms.each do |room| %>
      <% if room.user.id == current_user.id %>
        <%= link_to room_messages_path(room), data: {"turbolinks"=>false} do %>
          <%= image_tag room.image, class:"image-profile" if room.user.image.attached? %>
        <% end %>
      <% end %>
    <% end %>
    </div>
    <div class='nav_main'>
      <div class='up2'>
        <%= link_to rooms_path(@user) do %>
          <p>ルーム一覧<p>
        <% end %>
      </div>
      <div class='down2'>
        <%= render "articles/header"%>
      </div>
    </div>
    <div class='main'>
      <div class='main_menu'>
        <h1 class="head_en">ルーム一覧</h1>
        <div class='aside'>
          <%= render 'rooms/header'%>
        </div>
      </div>
      <div class='main_content'>
        <div class='wrapper'>
          <%= search_form_for @p, url: search_rooms_path do |f| %>
            <%= f.label :name_eq, '商品名：' %>
            <%= f.collection_select :name_eq, @room_name, :name, :name, include_blank: '指定なし' %>
            <br>
            <%= f.label :category_id_eq, 'カテゴリー：' %>
            <%= f.collection_select :category_id_eq, @room_category, :id, :id, include_blank: '指定なし' %>
            <br>
            <%= f.label :price, '価格：' %>
            <%= f.radio_button :price_lteq, '' %>
            指定なし
            <%= f.radio_button :price_lteq, '3000' %>
            3000円以下
            <%= f.radio_button :price_lteq, '5000' %>
            5000円以下
            <%= f.radio_button :price_gteq, '10000' %>
            10000円以上
            <br>
          <%= f.submit '検索', id: "chomo" %>
          <% end %>
          <div class='side-bar'>
            <% if user_signed_in? %>
            <div class="rooms">
              <% @rooms.each do |room| %>
                <div class="room">
                  <table class="table-name">
                    <tbody>
                      <tr>
                        <th><%= image_tag room.image.variant(resize: '50x50'), class:"image-profile" if current_user.image.attached? %>
                        <%= room.name %>
                          <% if room.room_order %>
                            <div class='sold-out'>
                              <span>soldout!!</span>
                            </div>
                          <% end %>
                        </th>
                        <td>
                        <% if !room.room_order %>
                          <%= link_to '購入画面へ', order_new_room_path(room.id) %>
                        <% end %>
                        </td>
                    </tbody>    
                  </table> 
                </div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='footer'>
  <p>@Copyright Olimpic Apps 2020</p>
  </div>
</div>
<% breadcrumb :rooms %>