<div class='wrapper'>
  <div class='nav_main'>
    <%= render "articles/header"%>
  </div>
  <div class='main'>
    <div class='main_menu'>
      <h1 class="head_en">Make ChatRoom</h1>
      <h3 class="head__ja">ルームを出品しよう！</h3>
      <%= render "header"%>
    </div>
    <div class='main_content'>
      <div class='chat-room-form'>
        <%=form_with model: @room, local: true do |f|%>
          <div class='chat-room-form__field'>
          <%= render 'shared/error_messages', model: f.object %>
            <div class='chat-room-form__field--left'>
              <%= f.label :ルーム名, class: 'chat-room-form__label'%>
              <%= f.label :価格設定, class: 'chat-room-form__label'%>
              <%= f.label :内容, class: 'chat-room-form__label'%>
              <%= f.label :カテゴリー, class: 'chat-room-form__label'%>
            </div>
            <div class='chat-room-form__field--right'>
              <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
              <%= f.text_field :price, class: 'chat__room_name chat-room-form__input', placeholder: '金額を入力してください'%>
              <%= f.text_field :text, class: 'chat__room_name chat-room-form__input', placeholder: '内容を入力してください'%>
              <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
            </div>
          </div>
            <div class='chat-room-form__field--right'>
              <input name="room[user_ids][]" type="hidden" value=<%=current_user.id%>>
            </div>
          <div class='chat-room-form__field'>
            <div class='chat-room-form__field--left'></div>
            <%= f.hidden_field :user_id, value: current_user.id%>
            <div class='chat-room-form__field--right'>
              <%= f.submit class: 'chat-room-form__action-btn'%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
