<div class='wrapper'>
  <div class='up1'>
    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タグで検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <%= link_to user_path(current_user), class: "user-profile" do %>
      <% if current_user.name == "ゲストユーザー" %>
        <%= image_tag 'default.png', class: "image-profile" %>
      <% else %>
        <%= image_tag current_user.image.variant(resize: '50x50'), class:"image-profile" if current_user.image.attached?%>
      <% end %>
    <% end %>
    <%= link_to root_path, class: "help" do %>
      <i class="far fa-question-circle"></i>
    <% end %>
  </div>
  <div class='down1'>
    <div class='side_main'>
    <% @rooms = Room.all %>
    <% @rooms.each do |room| %>
      <% if room.user_id == current_user.id %>
        <%= link_to room_messages_path(room), data: {"turbolinks"=>false} do %>
          <%= image_tag room.user.image, class:"image-profile" if room.user.image.attached? %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to rooms_path do %>
      <i class="fas fa-plus"></i>
    <% end %>
    </div>
    <div class='nav_main'>
      <div class='up2'>
        <%= link_to search_articles_path do %>
          <p>記事一覧<p>
        <% end %>
      </div>
      <div class='down2'>
        <%= render "articles/header"%>
      </div>
    </div>
    <div class='main'>
      <div class='main_menu'>
        <h1 class="head_en">Article</h1>
        <div class='aside'>
          <div class='article_like'>
            <h3>いいね数ランキング</h3>
          </div>
          <div class='ranking_like'>
          <% if @article_ranking %>
            <th>１位：</th>
            <td><%= link_to @article_ranking.first.user.name, user_path(@article_ranking.first.user) %></td>
            <th>２位：</th>
            <td><%= link_to @article_ranking.second.user.name, user_path(@article_ranking.second.user) %></td>
            <th>３位：</th>
            <td><%= link_to @article_ranking.third.user.name, user_path(@article_ranking.third.user) %></td>
          <% end %>
          </div>
        </div>
      </div>
      <div class='main_content'>
        <div class='chat-room-form'>
          <%=form_with model: @room, local: true do |f|%>
            <div class='chat-room-form__field'>
            <%= render 'shared/error_messages', model: f.object %>
              <div class='chat-room-form__field--left'>
                <%= f.label :ルーム名, class: 'chat-room-form__label'%>
                <%= f.label :価格設定, class: 'chat-room-form__label'%>
                <%= f.label :内容, class: 'chat-room-form__label'%>
                <%= f.label :カテゴリー, class: 'chat-room-form__label'%>
                <%= f.label :画像, class: 'chat-room-form__label'%>
              </div>
              <div class='chat-room-form__field--right'>
                <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
                <%= f.text_field :price, class: 'chat__room_name chat-room-form__input', placeholder: '金額を入力してください'%>
                <%= f.text_field :text, class: 'chat__room_name chat-room-form__input', placeholder: '内容を入力してください'%>
                <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"category-select"}) %>
                <%= f.file_field :image, id: 'pre_image'%>
                <div id="image-list"></div>
              </div>
            </div>
              <div class='chat-room-form__field--right'>
                <input name="room[user_ids][]" type="hidden" value=<%=current_user.id%>>
              </div>
            <div class='chat-room-form__field'>
              <div class='chat-room-form__field--left'></div>
              <%= f.hidden_field :user_id, value: current_user.id%>
              <div class='chat-room-form__field--right'>
                <%= f.submit class: 'chat-room-form__action-btn'%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <%= link_to new_article_path, data: {"turbolinks"=>false} do %>
        <i class="fas fa-plus-circle firework"></i>
      <% end %>
    </div>
  </div>
</div>