<div class='wrapper'>
  <div class='up1'>
    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タグで検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <%= link_to user_path(current_user), class: "user-profile" do %>
      <% if current_user.image.nil? %>
        <%= image_tag 'default.png', class: "image-profile" %>
      <% else %>
        <%= image_tag current_user.image.variant(resize: '50x50'), class:"image-profile" if current_user.image.attached?%>
      <% end %>
    <% end %>
    <%= link_to root_path, class: "help" do %>
      <i class="far fa-question-circle"></i>
    <% end %>
  </div>
  <div class='down1'>
    <div class='side_main'>
    <%= link_to rooms_path do %>
      <i class="fas fa-plus"></i>
    <% end %>
    <% @rooms = Room.all %>
    <% @rooms.each do |room| %>
      <% if room.user.id == current_user.id  || room.room_order.user.id == current_user.id%>
        <%= link_to room_messages_path(room), data: {"turbolinks"=>false} do %>
          <%= image_tag room.user.image, class:"image-profile" if room.user.image.attached? %>
        <% end %>
      <% end %>
    <% end %>
    </div>
    <div class='nav_main'>
      <div class='up2'>
        <%= link_to room_path(current_user) do %>
          <p>ルーム一覧<p>
        <% end %>
      </div>
      <div class='down2'>
        <%= render "articles/header"%>
      </div>
    </div>
    <div class='main'>
      <div class='main_menu'>
        <h1 class="head_en">ルーム検索</h1>
        <div class='aside'>
          <%= render 'rooms/header'%>
        </div>
      </div>
      <div class='main_content'>
        <h1>
          検索結果
        </h1>
        <%# 検索結果の個数で条件分岐 %>
        <% if @results.length !=0 %>
          <% @results.each do |result| %>
            <td>
            <br>
            <li>
              <%= result.name %>
              <%= result.category_id %>
              <%= result.price %>
            </li>
          <% end %>
        <% else %>
          該当するルームはありません
        <% end %>
        <br>
      </div>
      <%= link_to new_room_path, data: {"turbolinks"=>false} do %>
        <i class="fas fa-plus-circle firework"></i>
      <% end %>
    </div>
  </div>
  <div class='footer'>
  <p>@Copyright Olimpic Apps 2020</p>
  </div>
</div>
<%= link_to 'トップページへ戻る', rooms_path %>