<div class='wrapper'>
  <div class='up1'>
    <%= form_with(url: search_articles_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タグで検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <%= render 'shared/up1'%>
  </div>
  <div class='down1'>
    <%= render 'shared/side_main' %>
    <div class='nav_main'>
      <div class='up2'>
        <%= link_to search_articles_path do %>
          <p>記事一覧<p>
        <% end %>
      </div>
      <div class='down2'>
        <%= render "articles/header"%>
      </div>
    </div>
    <div class='main'>
      <div class='main_menu'>
        <h1 class="head_en">Article</h1>
        <div class='aside'>
          <div class='article_like'>
            <h3>いいね数ランキング</h3>
          </div>
          <div class='ranking_like'>
          <% if @article_ranking %>
            <th>１位：</th>
            <td><%= link_to @article_ranking.first.user.name, user_path(@article_ranking.first.user) %></td>
            <th>２位：</th>
            <td><%= link_to @article_ranking.second.user.name, user_path(@article_ranking.second.user) %></td>
            <th>３位：</th>
            <td><%= link_to @article_ranking.third.user.name, user_path(@article_ranking.third.user) %></td>
          <% end %>
          </div>
        </div>
      </div>
      <div class='main_content'>
        <%= form_with  url: cards_path, id: 'charge-form', class: 'card-form',local: true do |f| %>
          <div class="Cardpage">
            <h1>カード登録</h1>
          </div><br>
          <div class='form-wrap'>
            <%= f.label :number, "【カード番号】" %>
            <%= f.text_field :number, class:"number", placeholder:"カード番号(半角英数字)", maxlength:"16" %>
          </div>
          <div class='form-wrap'>
            <%= f.label :cvc ,"【ＣＶＣ】" %>
            <%= f.text_field :cvc, class:"cvc", placeholder:"カード背面にある3桁の番号", maxlength:"4" %>
          </div>
          <div class='form-wrap'>
          <br>
            <p>【有効期限】</p>
            <div class='input-expiration-date-wrap'>
              <%= f.select :exp_month, 1..12, {include_blank: "---"}, class: "exp_month" %>
              <p>月</p>
              <%= f.select :exp_year, 20..25, {include_blank: "---"}, class: "exp_year" %>
              <p>年</p>
            </div>
          </div>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class='footer'>
  <p>@Copyright Olimpic Apps 2020</p>
  </div>
</div>
<script src="app/javascript/card.js" data-turbolinks-eval="false"></script>